{% extends 'base.html' %}
{% load static %}


{% block meta %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<title>Story 5</title>
{% endblock meta %}

{% block content %}
<div class="card my-cont">
  <ul class="card-header nav nav-tabs" role="tablist">
    <li class="nav-item">
      {% if condition %}
      <a class="nav-link" id="add-matkul" data-toggle="tab" href="#add-menu" role="tab" aria-controls="add-matkul" aria-selected="true">Tambah Matkul</a></li>
      {% else %}
      <a class="nav-link active" id="add-matkul" data-toggle="tab" href="#add-menu" role="tab" aria-controls="add-matkul" aria-selected="true">Tambah Matkul</a></li>
      {% endif %}
    <li class="nav-item">
      {% if condition %}
      <a class="nav-link active" id="delete-matkul" data-toggle="tab" href="#delete-menu" role="tab" aria-controls="delete-matkul" aria-selected="false">Delete Matkul</a></li>
      {% else %}
      <a class="nav-link" id="delete-matkul" data-toggle="tab" href="#delete-menu" role="tab" aria-controls="delete-matkul" aria-selected="false">Delete Matkul</a></li>
      {% endif %}
    <li class="nav-item">
      <a class="nav-link" id="show-matkul" data-toggle="tab" href="#show-menu" role="tab" aria-controls="show-matkul" aria-selected="false">Show Matkul</a></li>
  </ul>
  
  <div class="card-body tab-content">
    <div id="add-menu" class="tab-pane fade show active" role="tabpanel" aria-labelledby="add-matkul">
      <form action="{% url 'main:submit' %}" method="post" class="my-form">
        {% csrf_token %}
        <div class="form-group">
          <label for="id_nama">Mata Kuliah</label>
          {{ input_form.nama }}
        </div>
        <div class="form-group">
          <label for="id_dosen">Pengajar</label>
          {{ input_form.dosen }}
        </div>
        <div class="form-group">
          <label for="id_sks">SKS</label>
          {{ input_form.sks }}
        </div>
        <div class="form-group">
          <label for="id_deskripsi">Deskripsi</label>
          {{ input_form.deskripsi }}
        </div>
        <div class="form-group">
          <label for="id_ruang">Ruang</label>
          {{ input_form.ruang }}
        </div>
        <div class="d-flex flex-row form-group">
          {{ input_form.semester }}
          {{ input_form.tahun1 }}
          {{ input_form.tahun2 }}
        </div>
        <input type="submit" value="Submit">
      </form>
    </div>
    <div id="delete-menu" class="tab-pane fade in" role="tabpanel" aria-labelledby="delete-matkul">
      <h3>Delete Mata Kuliah</h3>
      <form action="{% url 'main:delete' %}" method="POST">
        {% csrf_token %}
        <select name="dropdown" class="form-control">
          {% for i in matkul_obj  %}
            <option value="{{ i.id }}">{{ i.nama }}</option>
          {% endfor %}
        </select>
        <input type="submit" value="Delete" id="del">
      </form>
      {% if condition %}
        <h5>Berhasil menghapus.</h5>
      {% endif %}
    </div>
    <div id="show-menu" class="tab-pane fade" role="tabpanel" aria-labelledby="show-matkul">
      {% for matkul in matkul_obj.all %}
        <a href="{% url 'main:show' matkul.id %}" class="card bg-light mb-3 matkul-cont">
          <div class="card-body">
            <h4 class="card-title matkul-nama">{{ matkul.nama }}</h4>
            <span class="badge badge-secondary cust-badge">{{ matkul.semester }} {{ matkul.tahun1 }}/{{ matkul.tahun2 }}</span>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
{% if condition %}
  <script src="{% static 'js/form.js' %}"></script>
{% endif %}
{% endblock content %}
