{% extends "base.html" %}
{% load static %}
{% block meta %}
  <link rel="stylesheet" href="{% static 'css/matkul.css' %}">
  <title>Story 5</title>
{% endblock meta %}

{% block content %}

<div class="card border-dark mb-3 matkul">
    <div class="card-header">
        <div class="head">{{ matkul.nama }}</div>
        <span class="badge badge-secondary cust-badge">{{ matkul.semester }} {{ matkul.tahun1 }}/{{ matkul.tahun2 }}</span>
    </div>
    <div class="card-body text-dark">
        <h5 class="card-title">{{ matkul.sks }} SKS</h4>
        <h6 class="card-title">Pengajar: {{ matkul.dosen }}</h5>
        <p class="card-text text">{{ matkul.deskripsi }}</p>
    </div>
</div>

{% endblock content %}