

.my-cont {
    width: max-content;
    margin: 20vh auto 0 auto;
}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form * {
    width: 100%;
}

.semester {
    display: flex;
    flex-direction: row;
    height: max-content;
}

.semester p {
    margin: 0;
}

#show-menu {
    color: black;
    max-height: 500px;
    overflow-y: scroll;
}

.matkul-cont {
    max-width: 450px;
}

.card-title, .card-text {
    color: black;
}

#show-menu a, #show-menu a:hover {
    color: rgb(66, 49, 49);
    text-decoration: none !important;
}


.card-title {
    margin-bottom: .0rem;
}
.matkul-nama {
    margin-right: 8px;
}

.cust-badge {
    vertical-align: middle;
    font-weight: 500;
    
    margin-top: -9px;
}

#del {
    margin-top: 7px;
}