.matkul {
    width: fit-content;
    max-width: 300px;
    margin: 20vh auto;
    transform: translateY(50%);
}

.head {
    font-size: 1.5rem;
    font-weight: 700;
}

.text {
    max-width: 400px;
}